<p>TODO LIST</p>
<div class=myinput>
    <input type="text" class="getter" #box>
    <button class="add" (click)="onadd(box.value)"><i class="fa fa-plus"></i></button>
    <button class="update" (click)="onupdate1(box.value)"><i class="fa fa-edit"></i></button>
</div>
<div>
    <ul *ngFor="let item of myarray; let i = index">
        <div>
            <li class="todolist" (click)="onupdate(item.id,i)" [ngClass]="{'msg' : index==i, 'msg1': index!=i}">
                <p>{{item.Message}}</p>
                <button class="btn" (click)="onclick(item.id)"><i class="fa fa-trash"></i></button>
            </li>
        </div>
    </ul>
</div>